@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100vh;
    box-sizing: border-box;
}
.conversation-item .avatar.online:before,
.conversation-item .avatar.offline:before{
    width: 7px;
    height: 8px;
    top: 1%;
    right: 1%;
    outline-width: 1px;
}
